
/// Convert string to a list by splitting it up with a given separator.
/// @access public
///
/// @param {string} $string - string to be exploded.
/// @param {string} $separator - string to split by.
/// @return {list|string}

@function explode( $string, $separator: ' ' )
{
    $result: ();
    $length: str-length( $string );

    @if str-length( $string ) == 0
    {
        @return ();
    }

    @if str-length( $separator ) == 0
    {
        @for $index from 1 through $length
        {
            $result: append( $result, str-slice( $string, $index, $index) );
        }

        @return $result;
    }

    $has-more-items: true;
    $rest: $string;

    @while $has-more-items
    {
        $index: str-index( $rest, $separator );

        @if $index
        {
            $slice: str-slice( $rest, 1, $index - 1 );
            $result: append( $result, $slice );
            $rest: str-slice( $rest, $index + str-length( $separator ) );
        }
        @else
        {
            $has-more-items: false;
        }
    }

    @return if( length( $result ) > 0, append( $result, $rest ), $rest );
}

/// @alias explode

@function split( $args... )
{
    @return explode( $args... );
}